.Sidebar {
  background-color:rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  height: 60vh;
  width: 10vw;
  margin: 2vw 2vw 10vh 10vw;
  float: left;

  text-align: center;
}
.Sidebar-p {
  height: 20%;
  margin:0px;


  display:flex;
  align-items: center;
  justify-content: center;
}
