.MiscButton {
  position: relative;
  width: 100%;
  height: 100%;
}

.MiscButton button {
  position: absolute;

  top: 50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border: 2px solid gray;
  background-color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /*transition-duration: 0.4s;*/
  cursor: pointer;
  animation-name: button-crazy 1s;
  animation-iteration-count: infinite;
}

.MiscButton button :hover {
  animation-name: button-crazy;
  animation-duration: 1s;
  
}
@keyframes button-crazy {
  0%   {color: rgb(252, 29, 29);}
  10%   {color: rgb(255, 101, 30);}
  20%   {color: yellow;}
  30%   {color: rgb(8, 209, 8);}
  40%   {color: rgb(0, 183, 255);}
  50%   {color: rgb(111, 7, 185);}
  60%   {color: rgb(0, 183, 255);}
  70%   {color: rgb(8, 209, 8);}
  80%   {color: yellow;}
  90%   {color: rgb(255, 101, 30);}
  99%   {color: rgb(252, 29, 29);}
}
