.App {
  color: #4d4b4b;
  font-family: Helvetica,  Arial, sans-serif;
  
  box-sizing: border-box;

  text-align: center;
  height: 400px;
  width: 600px;


  position: absolute;
  top: 50%;
  left:50%;
  
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}